<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<<<<<<< HEAD
<% if (teams.length > 0) { %>
=======
    <% if (teams.length > 0) { %>
>>>>>>> 73ab3b280992c68a73154a825534fc6c5f54f435
    <% teams.forEach(team => { %>
        <div class="t-teams">
            <img class="logo" src="<%= team.logo %>">
            <div><%= team.team_name %></div>
            <div><%= team.country %></div>
        </div>
    <% }) %>
  
<% } %>
<<<<<<< HEAD

=======
>>>>>>> 73ab3b280992c68a73154a825534fc6c5f54f435
</body>
</html>
