
<%- include("partials/header.ejs") %>
 <div class="team_heading">
            Team Informations
        </div>
<div class="center-main">

    <div class="table"> 
        <%- include("partials/table.ejs") %>
    </div>
        
    <main class="main">
        
        
        <a href="/sunday" class="days">SUNDAY</a>
        <a href="/monday" class="days">MONDAY</a>
        <a href="/tuesday" class="days">TUESDAY</a>
        <a href="/wednesday" class="days" >WEDNESDAY</a>
        <a href="/thursday" class="days">THURSDAY</a>
        <a href="/friday" class="days">FRIDAY</a>
        <a href="/saturday" class="days">SATURDAY</a>
       
        
    </main>


</div>


    





