:root{
    --maincolor: #e7e7e7;
    --headings: rgb(56, 58, 58);
    --subheadings: hsl(180, 34%, 65%);
    --darkgray: #a9a9a9;
    --lightgray: #d3d3d3;
    --logo: Tektur;
    --headingf: Archivo;
    --lightcyna: #9CB080;
    --accent-orange: #FF8C42;
    --bg-light: #edeeee;
    --subtitle: rgb(180, 135, 68);
}

#logo{
    font-family: var(--logo);
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
   
    height: auto !important;
    background-color: var(--headings);
    width: 99vw; height: 60px;
    border-radius: 2px; 
    align-items: center;
}
@media(max-width:700px){
    #logo{
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0px;
    flex: 1;
    }
    .userInfo{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    margin-left: 30px;
    flex: 1;
    }
}

#logo > h2{
    min-width: 400px;
    color: var(--accent-orange);
    margin-left: 30px;
    
}
.userInfo{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10px;
    gap: 0px;
    color: var(--accent-orange);

}

.user{
  background-color: var(--lightcyna);
  color: var(--headings);
  border-radius: 5px;
  padding: 8px;
  margin-left: 20px;
  text-decoration: none;
}
.user:hover{
    box-shadow: 2px 2px 2px 3px var(--darkgray);
}
.home{
  background-color: var(--lightcyna);
  color: var(--headings);
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
  

}
.home:hover{
    box-shadow: 2px 2px 2px 3px var(--darkgray);
}
.day-title{
    background-color: var(--headings);
    width: 30vw;
    height: 3vh;
    text-align: center;
    margin-left: 35vw;
    margin-top: 5vh;
    font-family: var(--headingf);
    font-size: large;
    padding: 10px;
    color: var(--accent-orange);
    border-radius: 5px;
}

/*=================== center main div with the table and the div containing inputs fiels================ */

.center-main{
    display: block;
  

    
    margin-left: 4%;
    border-radius: 5px;
    
    padding-bottom: 150px;
    height: auto;
    width: 95vw;

    
}

/*===================== Table and the components ===================== */

.team_heading{
    margin: 50px 0px 0px 4%;
    font-size: x-large; 
    font-family: var(--headingf);
    font-weight: lighter;
    background-color: var(--headings);
    width: 30vw;
    height: 3vh;
    text-align: center;
    font-family: var(--headingf);
    font-size: large;
    padding: 20px;
    color: var(--accent-orange) ;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;  
}
.table{
    display: block;
    overflow-y:scroll ;
    overflow-x: scroll;
    border-radius: 5px;
    border: 2px solid var(--headings);
    border-radius: 3px;
    border-top-left-radius: 0px;
    box-shadow: 1px 1px 10px 1px rgb(104, 103, 103);
    height: 300px;
    width: 2fr;
    padding-bottom: 20px;
    color: var(--lightcyna);
    background: var(--headings);
    font-weight: lighter;
    font-size: x-large;
    font-family: var(--headingf);
 

}
.t-teams {
    display: grid;
    grid-template-columns: 60px 1fr 1fr;
    align-items: center;
    gap: 100px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
   

}

/*========================= The Rigth div with the inputs =============================== */

.main{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 5px; 
    gap: 40px;
    height: 100%;
    width: 2fr;
    margin-top: 50px;
   
}
.days  {

      
    background-color:var(--headings);
    transition: .5s;
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(200px 1fr));
    gap: 20px;
    height: 20px;
    box-shadow: 10px 10px 10px 10px #b6ac99;  
    border-radius: 10px;
    border: 2px solid var(--headings);
    padding: 60px;  
    color: var(--accent-orange); 
    font-family: var(--headingf); 
    font-weight: 800; 
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 2px 3px;
    flex: 1;
    width: 100px;
    min-width: 150px;
    
}
.days:hover{
    box-shadow: 0px 0px 20px 10px var(--lightcyna);
    height: 25px;

}


.teamInputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 15px;
    font-family: var(--headingf); 
    border: 2px solid var(--headings);
    width: 100%;
    padding: 20px 50px 20px 0px;
    box-shadow: 0px 0px 10px 1px lightgray;
    background: var(--headings);
    color: var(--lightcyna);
    align-items: center;
}

.teamInputs >*{
    margin-top: 70px;
    margin-left: 100px;
  
    
}
 
.teamInputs > div >*{
    margin-left: 30px;
    margin-top: 10px;
    display: block; 
   
}
.teamInputs > div > input{
  width: 200px;
  background: rgb(235, 250, 240);
  border-radius: 5px;
  border: 1px solid var(--lightcyna);
}
.submit-button,.clear-button{
    margin-left: 150px; 
    margin-top: 80px; 
    font-weight: 800; 
    height: 50px; 
    border: 5px solid var(--headings);
    border-radius: 10px; 
    color: var(--headings);
    width: 150px;
    background-color: var(--accent-orange);
}
.submit-button:hover{
     box-shadow: 0px 0px 20px 10px var(--lightgray);
}
.clear-button:hover{
    box-shadow: 0px 0px 20px 10px var(--lightgray);
}
.message{
    color: green; 
    margin-top: -10px;
    font-size:x-large;
    font-family: var(--logo); 
}